{% extends 'base/base.html' %}
{% load static %}

{% block main_area %}
    <div class="hiking-route-main-container">
        <h1>산에 갈 친구를 모아보세요!</h1>
        <div class="hiking-route-post">
            <a class="btn post-btn" href="{% url 'new_post' %}">게시글 작성</a>
        </div>
        <div class="post-box">
            {% for post in posts %}
                <a class="post" href="{{ post.get_absolute_url }}">
                    <h2>
                        {{ post.title }}-{{ post.author }}
                    </h2>
                    <div class="post-sub">
                        <span>산행일자: {{ post.date }}</span>
                        <span>참가자수: {{ post.participate_set.count }}/{{ post.max_member }}</span>
                    </div>
                </a>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}