{% load static %}
<div class="header">
    <div class="header-nav">
        <a class="header-nav-anchor" href="routes/">산 친구 찾기</a>
        <a class="header-nav-anchor" href="info/">산행 정보</a>
    </div>
    <a href="/"><img class="logo" src="{% static 'image/amada_black.png' %}" ></a>
    <div class="header-nav">
        {% if user.is_authenticated %}
            <a href="account/logout/" class="header-nav-anchor">반갑습니다 {{ user.username }}님!</a>
        {% else %}
            <a href="account/login/" class="header-nav-anchor">로그인</a>
            <a href="account/signup/" class="header-nav-anchor">회원가입</a>
        {% endif %}
    </div>
</div>