@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gugi&display=swap');
@import "account.css";

*{
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Gugi', cursive;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a{
    color: black;
    text-decoration: none;
}

input{
    outline: none;
    height: 1.25rem;
    font-size: 1.125rem;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.btn {
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 8rem;
    height: 3rem;
    transition: all 0.4s;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.alert-danger{
    color: red;
}

.container{
    padding-top: 5rem;
    height: auto;
    min-height: 75%;
    padding-bottom: 8rem;
}

.header{
    box-sizing: border-box;
    padding: 0 2rem;
    height: 5rem;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    background-color: #FFF;
}

.header-nav{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-nav-anchor{
    display:inline-block;
    margin:0;
}

.header-nav-anchor:after {
  display:block;
  content: '';
  border-bottom: solid 2px #000;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.header-nav-anchor:hover:after {
    transform: scaleX(1);
}

.logo{
    height: 100px;
}

.footer{
    background-color: rgba(0, 0, 0, 0.05);
    height: 8rem;
    width: 100%;
    position : relative;
    transform : translateY(-100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: rgba(0, 0, 0, 0.5);
}