@keyframes intro {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
    }
}

.intro-box{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logined{
    flex-direction: row;
    justify-content: space-around;
}

.intro-image{
    opacity: 0;
    animation: intro 1s 1s forwards;
}

.intro-slogan{
    margin: 1rem;
    margin-top: -1rem;
    opacity: 0;
    font-size: 2.5rem;
    animation: intro 1s 2s forwards;
}

.intro-desc{
    opacity: 0;
    animation-delay: 2s;
    animation: intro 2s 3s forwards;
}

.intro-list-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.intro-el-box{
    padding: 0.725rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    min-width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}