.post-form-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.post-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 10px
;
}

#image{
    line-height: 2rem;
}